<div class="container bg-white">
    <h3>Contact</h3>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vetibulum id ligula porta felis euismod semper. Praesent
        commodo cursus magna, vel scerlerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. Lets make an
        error!</p>
    <form class="text-center border border-light p-5" action="#!">
        <!-- Email -->
        <p>Your E-mail</p><input type="email" id="defaultContactFormEmail" class="form-control mb-4"
            placeholder="Your email">

        <!-- Message -->
        <p>Your message</p><div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
                placeholder="Message"></textarea>
        </div>

        <!-- Send button -->
        <button class="btn btn-info btn-block" type="submit">Submit</button>

    </form>
</div>