<!-- your html code here -->
<div class="container bg-white">
    <h3>Portfolio</h3>
    <p>Donec ullamcorper nulla non metus auctor fringilla. Vetibulum id ligula porta felis euismod semper.
        Praesent commodo cursus magna, vel scerlerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    <div class="d-flex justify-content-evenly">

        <div class="row">
            <div class="col-4" <div class="card">
                <img src="https://picsum.photos/id/1016/700/400" class="card-img-top">
                <div class="card-body">

                    <h5><span class="text-primary"> Project Name </span></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. A lacus vestibulum sed arcu non odio euismod
                        lacinia
                        at.</p>
                </div>
            </div>

            <div class="col-4" <div class="card">
                <img src="https://picsum.photos/id/1015/700/400" class="card-img-top">
                <div class="card-body p-4">
                    <h5><span class="text-primary"> Project Name </span></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Tellus orci ac auctor augue mauris augue neque
                        gravida
                        in.</p>
                </div>
            </div>

            <div class="col-4" <div class="card">
                <img src="https://picsum.photos/id/1022/700/400" class="card-img-top">
                <div class="card-body">
                    <h5><span class="text-primary"> Project Name </span></h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. At tempor commodo ullamcorper.</p>
                </div>
            </div>
        </div>
    </div>
</div>